@model IEnumerable<WebApplication1.Models.IPDModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body id="page-top">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" style="font-size:25px">IPD Discharge</h6>
        </div>
        <div>
            @using (Html.BeginForm("IPDDischargesIndex", "IPD", FormMethod.Get))
            {
                <table>
                    <tr>
                        <td class="text-center">

                            @Html.RadioButton("SearchBy", "Branch", true, new { @class = "hidden" })

                        </td>
                    </tr>

                </table>
                <div class="row">
                    <div class="col-xl-3 col-md-6 mb-4">

                        <a class="fa fa-home" aria-hidden="true" href="~/HMS_Global/Index" style="font-size:20px"></a>
                        <a href="~/HMS_Global/Index" style="font-size:20px"> Home</a>

                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">

                        <span> <b>Select Branch:</b></span>

                        @Html.DropDownList("SearchValue", new List<SelectListItem>
                        {
                            new SelectListItem { Text = "All", Value = "All" },
                            new SelectListItem { Text = "Jamner", Value = "Jamner" },
                            new SelectListItem { Text = "Kurduwadi", Value = "Kurduwadi" }
                        }, "Select Branch", new { Text = "SearchValue" })
                    </div>

                </div>

                <br />
                <div class="row">
                    <div class="col-xl-3 col-md-6 mb-4">
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <label for="Text">From Date</label>
                        <input type="date" name="Fromdate" data-date-format='yyyy-MM-dd' />

                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <label for="Text">To Date</label>
                        <input type="date" name="Todate" data-date-format='yyyy-MM-dd' />

                        <input type="submit" class="btn btn-primary" value="Search" style="float: right;" />

                    </div>

                </div>

            }
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tr>
                    @*<th>
                Global ID
            </th>*@
                    <th>
                        Branch
                    </th>

                    <th>
                        Patient ID
                    </th>
                    <th>
                        Patient Name
                    </th>
                    <th>
                        Doctor Name
                    </th>
                    <th>
                        Admission_Date
                    </th>

                    <th>
                        Discharge_Date
                    </th>
                    <th>
                        Total Bill Amount
                    </th>
                    <th>
                        Discount
                    </th>
                    <th>
                        Received
                    </th>
                    <th>
                        Pending
                    </th>
                    <th>
                        Registration Charges
                    </th>

                    <th>
                        Consultant Charges
                    </th>
                    <th>
                        Nursing Charges
                    </th>
                    <th>
                        Bed Charges
                    </th>
                    <th>
                        Hospital Total
                    </th>
                    <th>
                        Surgical Total
                    </th>
                    <th>
                        Medical Record Charges
                    </th>

                    <th>
                        BioMedical Waste Charges
                    </th>
                    <th>
                        Consultant Visiting Charges
                    </th>
                    <th>Administrative Charges</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Branch)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Patient_ID_sr)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Admission_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discharge_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bill_Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Received)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pending)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Registration_Charges)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Consultant_Charges)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nursing_Charges)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bed_Charges)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hospital_Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surgical_Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Medical_Record_Charges)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BioMedical_Waste_Charges)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Consultant_Visiting_Charges)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Administrative_Charges)
                        </td>
                        @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
                    </tr>
                }
                       <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> <b>Total </b></td>
                        <td><b>@Model.Sum(item => item.Bill_Amount).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.Discount).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.Received).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.Pending).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.Registration_Charges).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.Consultant_Charges).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.Nursing_Charges).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.Bed_Charges).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.Hospital_Total).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.Surgical_Total).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.Medical_Record_Charges).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.BioMedical_Waste_Charges).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.Consultant_Visiting_Charges).ToString()</b></td>
                        <td><b>@Model.Sum(item => item.Administrative_Charges).ToString()</b></td>

                    </tr>
            </table>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/js/demo/datatables-demo.js"></script>
</body>
</html>
