@model WebApplication1.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html style="background-image: url('../../image/hospital room.jpg')">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Employee Details</title>
</head>
<body>
    <style>
        #product {
            position: absolute;
            left: 28%;
            right: -6%;
            padding: 63px 14px;
            align-content: center;
            margin-top: 23px;
            height: 320px
        }

        .rounded {
            border-radius: 10.35rem !important;
        }
    </style>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    

        <div id="product">


            <div class="row">



                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-lg-7" style="background-color:white;padding-bottom:30px;padding-top:25px;">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account</h1>
                    </div>
                    <div class="form-group">

                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-user text-box single-line", placeholder = "Enter Full Name", style = "border-color: black;" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group row">

                        <div class="col-sm-6 mb-3 mb-sm-0">
                            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Enter Designation", style = "border-color: black;" } })
                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6">
                            @Html.EditorFor(model => model.Branch, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Enter Branch", style = "border-color: black;" } })
                            @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">

                        @Html.EditorFor(model => model.Email_ID, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Enter Email", style = "border-color: black;" } })
                        @Html.ValidationMessageFor(model => model.Email_ID, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Enter Username", style = "border-color: black;" } })
                            @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })

                        </div>
                        <div class="col-sm-6">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Enter Password", style = "border-color: black;" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">


                        <div class="checkbox">
                            Status:
                            @Html.RadioButtonFor(model => model.Status, "Status")
                        </div>
                        <div>
                            <input type="submit" value="Create" class="btn btn-primary" style="float:right;" />
                        </div>



                    </div>



                </div>

                @*<h3>@ViewBag.Message</h3>*@
            </div>
        </div>
   
    }
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");

            };
        </script>
    }

    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


</body>
</html>
