@model IEnumerable<WebApplication1.Models.LoginModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


</head>
<body id="page-top">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="fa fa-home" aria-hidden="true" href="~/HMS_Global/Index" style="font-size:20px"></a>
            <h6 class="m-0 font-weight-bold text-primary" style="font-size:25px">Login Details</h6>
        </div>
        
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.GID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Designation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Branch)
                        </th>
                        <th>
                            Email ID
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Password
                        </th>
                        
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.GID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Designation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Branch)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            
                            <td>
                                @Html.ActionLink("Change Password", "Edit", new { id=item.GID },new { @class = "btn btn-primary" }) 

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
</body>
</html>
